{% extends 'template.html.twig' %}

{% block title %}Guide de jeu{% endblock %}

{% block body %}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Accueil</a></li>
        <li class="active">page guide</li>
    </ol>
    <div class="row">
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Guide de démarrage</h1>
            </header>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <table width=580 align=center bgcolor=#fff0d8 border=1>
                        <tbody>
                        <tr>
                            <td bgcolor=#f0d4b0 colspan=2 height=7>
                                <p align=center><a name=0></a><a>1- Dictionaire</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td height=5>
                                <p align="center">Gils :</p>
                            </td>
                            <td height=5>
                                <p align="center">Monnais du jeu</p>
                            </td>
                        </tr>
                        <tr>
                            <td height=11>
                                <p align="center">ID :</p>
                            </td>
                            <td height=11>
                                <p align="center">Pseudo</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=281 height=10>
                                <p align="center">PW :</p>
                            </td>
                            <td width=283 height=10>
                                <p align="center">Mot de passe</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=281 height=5>
                                <p align="center">HP&nbsp;:</p>
                            </td>
                            <td width=283 height=5>
                                <p align="center">Point de vie</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=281 height=8>
                                <p align="center">TP :</p>
                            </td>
                            <td width=283 height=8>
                                <p align="center">Point de voyage</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=281 height=10>
                                <p align="center">MP :</p>
                            </td>
                            <td width=283 height=10>
                                <p align="center">Point de magie</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=281 height=16>
                                <p align="center">EXP :</p>
                            </td>
                            <td width=283 height=16>
                                <p align="center">Point d'experience</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=281 height=12>
                                <p align="center">LVL :</p>
                            </td>
                            <td width=283 height=12>
                                <p align="center">Niveau</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=281 height=9>
                                <p align="center">NIV :</p>
                            </td>
                            <td width=283 height=9>
                                <p align="center">Niveau</p>
                            </td>
                        </tr>
                        </tbody>
                    </table><br>

                    <table width=580 align=center bgcolor=#fff0d8 border=1>
                        <tbody>
                        <tr>
                            <td width=580 bgcolor=#f0d4b0 height=7>
                                <p align=center><a target=_top><a name=2></a></a><a>1- Comment se
                                        déplacé</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td width=580 height=5>
                                <p align=center>En haut à gauche vous avez sans doute remarqué qu'il
                                    y a les points cardinaux.<br>
                                    Vous n'avez qu'à cliquer sur l'un d'eux pour aller dans la direction
                                    désirée.<br>
                                    Pour savoir où vous vous situez en haut des points cardinaux sont
                                    marqués votre position.<br>
                                    Au besoin, référez-vous à la carte qui se situe juste en dessous
                                    de vos coordonnées. </p>
                            </td>
                        </tr>
                        </tbody>
                    </table><br>

                    <table height=77 width=580 align=center bgcolor=#fff0d8 border=1>
                        <tbody>
                        <tr>
                            <td width=580 bgcolor=#f0d4b0 height=7>
                                <p align=center><a target=_top><a name=3></a></a><a>2- Comment combattre</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td width=580 height=38>
                                <p align=center>Déplacez-vous aléatoirement et au bout de quelques
                                    déplacement vous devriez tombé sur un monstre plus ou moins fort,
                                    comparez son niveau au votre et si vous jugez que vous êtes à la
                                    hauteur:<br>
                                    <br>
                                    cliquez sur ''Attaquer''<br>
                                    <br>
                                    Si vous ne tuez pas le monstre répétez l'opération jusqu'à la victoire,
                                    si le monstre a le dessus sur vous vous pouvez toujours utilisé
                                    l'option :<br>
                                    <br>
                                    ''S'enfuir''<br>
                                    <br>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table><br>

                    <table width=580 align=center bgcolor=#fff0d8 border=1>
                        <tbody>
                        <tr>
                            <td width=580 bgcolor=#f0d4b0 height=7>
                                <p align=center><a target=_top><a name=4></a></a><a>3- Comment acheter</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td width=580 height=7>
                                <p align=center>Il suffit de se rendre dans une ville.<br>
                                    Les villes se situe sur la "map", vous pouvez vous y rendre à <a
                                            href="guide.php?do=login#2">pied</a>
                                    ou bien vous pouvez aussi vous <a
                                            href="guide.php?do=login#7">téléportez</a>
                                    et donc, vous rendre sur une des 8 villes.<br>
                                    De là vous cliquez sur :<br>
                                    <br>
                                    ''Acheter armures/armes''<br>
                                    <br>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table><br>

                    <table width=580 align=center bgcolor=#fff0d8 border=1>
                        <tbody>
                        <tr>
                            <td width=580 bgcolor=#f0d4b0 height=7>
                                <p align=center><a target=_top><a name=5></a></a><a>4- Comment se
                                        soigner</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td width=580 height=7>
                                <p align=center>Il suffit de vous rendre sur une des villes se situant
                                    sur la "map" et de cliquer sur :</p>
                                <p align=center>" Se reposer à l'auberge "</p>
                                <p align=center>puis , payez la "nuit" et puis voila !</p>
                            </td>
                        </tr>
                        </tbody>
                    </table><br>

                    <table width=580 align=center bgcolor=#fff0d8 border=1>
                        <tbody>
                        <tr>
                            <td width=580 bgcolor=#f0d4b0 height=7>
                                <p align=center><a target=_top><a name=6></a></a><a>5- Comment utiliser
                                        un sort</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td width=580 height=7>
                                <p align=center>Lorsque vous <a
                                            href="guide.php?do=login#3">combattez</a>,
                                    vous pouvez selectionné les sorts.<br>
                                    Sélectionné un sort plus ou moin efficace et cliquez sur :<br>
                                    <br>
                                    ''Exécuté''</p>
                                <p align=center>Les sorts s'acquierent avec les niveaux. Lorsque vous
                                    changez de niveau, avec un peu de chance vous aurez droit a un nouveau
                                    sort. Chaque sort a ses fonctions:<br>
                                    <br>
                                    defense, attaque, heal etc...<br>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table><br>

                    <table width=580 align=center bgcolor=#fff0d8 border=1>
                        <tbody>
                        <tr>
                            <td width=580 bgcolor=#f0d4b0 height=7>
                                <p align=center><a target=_top><a name=7></a></a><a>6- Comment se
                                        téléporter</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td width=580 height=5>
                                <p align=center>il suffit d'acheter <a
                                            href="guide.php?do=login#8">les cartes</a>
                                    d'abord ! </p>
                                <p align=center>Au début vous ne pourrez que vous téléportez à Midworld<br>
                                    mais bien vite d'autre "map" s'ouvriront à vous .</p>
                                <p align=center>Attention ! vous ne pouvez pas vous téléporter autant
                                    que vous le voulez ! qaund on se téléporte on perd des <a
                                            href="guide.php?do=login#1">TP</a>
                                    ! pour les remetre au maximum il suffit de se <a
                                            href="guide.php?do=login#5">soigner</a>
                                    à une ville</p>
                            </td>
                        </tr>
                        </tbody>
                    </table><br>

                    <table width=580 align=center bgcolor=#fff0d8 border=1>
                        <tbody>
                        <tr>
                            <td width=580 bgcolor=#f0d4b0 height=7>
                                <p align=center><a target=_top><a name=8></a></a><a>7- Comment acheter
                                        des cartes</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td width=580 height=5>
                                <p align=center>Il suffit de vous rendre à une ville et de cliquer
                                    sur :</p>
                                <p align=center>" Acheter cartes "</p>
                                <p align=center>et de choisir la carte à acheter.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table><br>


                </div>
            </div>
        </article>
    </div>
</div>

{% endblock %}