<div class="navbar navbar-inverse headroom" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-left">
                <li class="active"><a href="/">Accueil</a></li>
                <li><a href="about.html">Guide</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a class="btn" href="signin.html">Se Connecter</a></li>
            </ul>
        </div>
    </div>
</div>
