<div class="navbar navbar-inverse headroom" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-left">
                <li class="active"><a href="/">Accueil</a></li>
                <li><a href="/guide/index">Guide</a></li>
                <li><a href="/Contact/formulaire">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                {% if session.username %}
                    <li><a class="btn" href="/Login/logout">Se Deconnecter</a></li>
                {% endif %}
                {% if session == false %}
                    <li class="{% if server.REQUEST_URI == '/Login/index' %}} active{% endif %}">
                        <a class="btn" href="/Login/login">Se Connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
