{% extends 'template.html.twig' %}

{% block body %}

    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">RPG GAME</h1>
                <p class="tagline">LA BATAILLE FAIT RAGE !</p>
                <p><a class="btn btn-default btn-lg" role="button">JOUER</a> <a class="btn btn-action btn-lg" role="button">S'INSCRIRE</a></p>
            </div>
        </div>
    </header>
    <div class="container text-center">
        <br> <br>
        <h2 class="thin">News</h2>
        <p class="text-center">
            Site en construction
        </p>
    </div>

    <div class="jumbotron top-space">
        <div class="container">

            <h3 class="text-center thin">Top 3 des joueurs</h3>

            <div class="row">
                <div class="col-md-4 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-gears fa-5"></i>Mage</h4></div>
                    <div class="h-body text-center">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Guerrier</h4></div>
                    <div class="h-body text-center">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-group fa-5"></i>Paladin</h4></div>
                    <div class="h-body text-center">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <h2 class="text-center top-space">A PROPOS</h2>
        <br>

        <div class="row">
            <div class="col-sm-6">
                <h3>RPG ?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi, asperiores dicta et eveniet fuga ipsam magni nemo nihil numquam perspiciatis, placeat praesentium, provident reprehenderit sequi temporibus vero vitae voluptas?
                </p>
            </div>
            <div class="col-sm-6">
                <h3>La confiance et le partage</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur consequuntur, culpa cumque ea enim facilis itaque minima minus nostrum qui quis sint suscipit tempora voluptates! Dolores labore quos velit.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>Comment çà marche ?</h3>
                <p>
                    1. Inscrivez vous et rejoignez le champs de bataille <br>
                    2. Combattez  <br>
                    3. Evolué
                </p>
            </div>
            <div class="col-sm-6">
                <h3>bref un autre truc a dire</h3>
                <p>
                    1. Inscrivez vous et renseignez vos compétences <br>
                    2. Un administrateur devra confirmer votre compte <br>
                    3. Attendez à tous jamais
                </p>
            </div>
        </div>

        <div class="jumbotron top-space">
            <h4>Si vous avez d'autres questions, n'hésitez pas à contacter un administrateur grâce au formulaire de contact !</h4>
            <p class="text-right"><a class="btn btn-primary btn-large">Contact »</a></p>
        </div>

    </div>
{% endblock %}

